.post-delete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.post-delete h2{
    font-size: 2rem;
    margin-bottom: 4rem;
}